<?xml version="1.0" encoding="UTF-8"?>
<beans>


    <bean id="teste" className="cr.ac.ucr.ecci.ci1330.IoC.testeReflection" scopeType="singleton" injectConstructor = "...">
        <constructor-args name= "p" reference = "Persona" autowiringMode="byName"/>

    </bean>

    <bean id="Persona" className="cr.ac.ucr.ecci.ci1330.IoC.Persona" scopeType="singleton" >
    </bean>

</beans>