<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="TR1" className="cr.ac.ucr.ecci.ci1330.SpringContainer.testeReflection" scopeType="singleton" injectSetter = "">
        <setter-arg name = "Persona" reference = "Persona" autowiringMode="byType"/>
    </bean>

    <bean id="TR2" className="cr.ac.ucr.ecci.ci1330.SpringContainer.testeReflection" injectConstructor="">
        <constructuor-arg name = "Persona" reference = "cr.ac.ucr.ecci.ci1330.SpringContainer.Persona" autowiringMode="byType"/>
    </bean>

    <bean id="TR3" className="cr.ac.ucr.ecci.ci1330.SpringContainer.testeReflection" scopeType="singleton">
    </bean>

    <bean id="TR4" className="cr.ac.ucr.ecci.ci1330.SpringContainer.testeReflection" scopeType="prototype">

    </bean>

    <bean id="Persona" className="cr.ac.ucr.ecci.ci1330.SpringContainer.Persona" scopeType="prototype" />

    <bean id="PersonaMethods" className="cr.ac.ucr.ecci.ci1330.SpringContainer.Persona" scopeType="prototype" initMethod= "destructMethod" destructMethod = "initMethod"/>

</beans>